body {
  background-color: #b5a789;
  font-size: small;
  margin: 0px;
}
#header {
  background-color: #675c47;
  margin: 10px;
  height: 108px;
}
#main{
  background: #efe5d0;
  font-size: 105%;
  padding: 15px;
  margin: 0px 10px 10px 10px;
}
#sidebar {
  background: #efe5d0;
  font-size: 105%;
  padding: 15px;
  margin: 0px 10px 10px 10px;
}
#footer {
  background-color: #675c47;
  color: #efe5d0;
  text-align: center;
  padding: 15px;
  margin: 10px;
  font-size: 90%;
}
h1 {
  font-size: 120%;
  color: #954b4b;
}
.slogan{
  color: #954b4b;
}
.beanheading {
  text-align: center;
  line-height: 1.8em;
}








